*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.top-container
{
    height: 25vh;
     padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
   
}
.top-head
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
   
}
.top-right
{
  flex: 0.8;
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-tools
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.top-tools > div
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-tools > ul
{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.top-left
{
   flex: 0.2;
   padding-inline-end: 20px;
   display: flex;
   justify-content:end;
   align-items: center;
   gap: 20px;
}
.top-left > i
{
   
    padding: 10px;
    font-size: 20px;
    background-color: #efefefff;
    border-radius: 50%;
}
.options
{
    display: flex;
    align-items: center; 
    gap: 15px;
}
#fontSize ,#fontFamily
{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #e0dddbff;
}
.hidden-input {
    width: 0 !important; 
    height: 0;
    border: none ;
   
   
}
.bottom-section
{
    padding-inline: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom-section > #active-cell
{
    padding: 10px;
    background-color:#ececf4ff;
    border-radius: 5px;
}
.bottom-section > input
{
    flex: 1;
    padding: 10px;
    border:1px solid #dadadaff;
    border-radius: 5px;
   

}
.options > div > label
{
    padding: 5px;
    border:1px solid #f6f6f6ff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.options > div > label:hover
{
    background-color: #efefefff;
}
.hidden-input:checked + label
{
    background-color:#efefefff;
    
}